<html>
    <body>
        <div>
    <head>
<link rel="stylesheet" href="/styles/leavepage.css">
</head>
<div class="create-leave content">

    <form>
        <div>

            <bl><label for="Name/ID">Name/ID :</label>
            <input type="text" id="Name/ID" required></bl>
        </div>
        <div>
            <label for="Start Date">Start Date:</label>
            <input type="date" id="Start Date" name="Start Date">
        </div>
        <div>
            <label for="End Date">End Date:</label>
            <input type="date" id="End Date" name="End Date">
        </div>
            
            <label for="cars">For a Leave:</label>
            <select name="Leave" id="Leave">
                <option value="Vacation">Vacation</option>
                <option value="Sick leave">Sick leave</option>
                <option value="Paternity">Paternity</option>
                <option value="Bereavement">Bereavement</option>
                <option value="Jury duty">Jury duty</option>
                <option value="Time out without pay">Time out without pay</option>
                <option value="other">other</option>
            </select>
        <div>
            <br/>
            <label for="Time off comments">Time off comments:</label>
            <textarea id="Time off comments" required></textarea>
        </div>
        <div>
            <button>Apply</button>
        </div>
     </form>
</div>
</body>
</html>